.format-selector {
    /* display: flex; */
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    padding: 10px;
    border: 3px solid rgba(14, 148, 14, 0.3);
    border-radius: 8px;
    background: #f4fff5;
    max-width: 300px;
    margin: auto;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #132744;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .format-select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
  }
  
  .format-select:focus {
    border-color: #007bff;
    outline: none;
  }
  