.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.format-selector {
  margin-bottom: 20px ;
  display: flex;
  flex-direction: column;
}

.download-button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-button:hover {
  background-color: #45a049;
}

.download-button:active {
  transform: scale(0.98);
}
